@import"reset.css";

@font-face {
  /* // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) */
  font-family: "Factor A";
  /* // адрес шрифта и тип */
  src: url("../fonts/Factor-A-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  }
