
* {box-sizing: border-box;}



/* <!-- one_page – невозврат --> */
        p {
          font-family: "Factor A";
          font-size: 20px
        }

      .one_page {
        display: flex;
        width: 100%;
        height: 900px;
        z-index: auto;
        position: relative;
        overflow: hidden;
      }

      .text {
        display: flex;
        width: 100%;
        height: 90px;
        /* background-color: green; */
        position: absolute;
      }

      .text1 {
        display: flex;
        width: 50%;
        height: 90px;
        /* background-color: green; */
      }

      .text2 {
        width: 50%;
        height: 90px;
        /* background-color: green; */
        position: relative;
      }


     .text-a {
       position: relative;
       width: 400px;
       height: 22px;
       padding: 29px 0px 0px 35px;
       display: inline-block;
     }


     .text-b {
       position: relative;
       width: 715px;
       height: 22px;
       padding: 29px 30px 0px 240px;
       display: inline-block;
     }

     .img-a {
       position: relative;
       width: 128px;
       height: 55px;
       padding: 22px 0px 0px 30px;
       /* background: no-repeat url("stylesheets/images/logo_plesk.svg"); */
       /* left: 100px;
       top: 100px; */
      }


/* ---------------------------------------------------------------------------- */

      .text-1 {
        display: flex;
        width: 1440px;
        height: 60px;
        /* background-color: green; */
        position: absolute;
      }

      .text1-1 {
        display: flex;
        width: 720px;
        height: 90px;
        /* background-color: green; */
      }

      .text2-1 {
        width: 720px;
        height: 90px;
        /* background-color: green; */
        position: relative;
      }


     .text-a-1 {
       position: relative;
       width: 700px;
       height: 22px;
       padding: 29px 0px 0px 35px;
       display: inline-block;
     }


     .text-b-1 {
       position: relative;
       width: 715px;
       height: 22px;
       padding: 29px 30px 0px 570px;
       display: inline-block;
     }


/* ---------------------------------------------------------------------------- */

      .text-2 {
        display: flex;
        width: 1440px;
        height: 60px;
        /* background-color: green; */
        position: absolute;
      }

      .text1-2 {
        display: flex;
        width: 720px;
        height: 60px;
        /* background-color: green; */
      }

      .text2-2 {
        width: 720px;
        height: 60px;
        /* background-color: green; */
        position: relative;
      }


      .text-a-2 {
       position: relative;
       width: 700px;
       height: 22px;
       padding: 19px 0px 0px 35px;
       display: inline-block;
      }


      .text-b-2 {
       position: relative;
       width: 715px;
       height: 22px;
       padding: 19px 30px 0px 580px;
       display: inline-block;
      }


      /* ---------------------------------------------------------------------------- */


      .text-3 {
        display: flex;
        width: 1440px;
        height: 60px;
        /* background-color: green; */
        position: absolute;
      }

      .text1-3 {
        display: flex;
        width: 720px;
        height: 60px;
        /* background-color: green; */
      }

      .text2-3 {
        width: 720px;
        height: 60px;
        /* background-color: green; */
        position: relative;
      }


      .text-a-3 {
       position: relative;
       width: 700px;
       height: 22px;
       padding: 19px 0px 0px 35px;
       display: inline-block;
      }


      .text-b-3 {
       position: relative;
       width: 715px;
       height: 22px;
       padding: 19px 30px 0px 556px;
       display: inline-block;
      }










      .column1, .column2, .column3, .column4  {
        width: 25%;
        height: 900px;
      }

      .one,.one_a, .one_b,
      .two, .two_a, .two_b,
      .three, .three_a, .three_b,
      .four, .four_a, .four_b,
      .five, .five_a, .five_b, .one_c, .two_c,
      .three_c, .four_c,
      .five_c {
        /* width: 360px; */
        width: 100%;
        height: 180px;
        /* border: 1px solid; */
        position:relative;
        border-bottom: 1px solid black;
      }

      .one_in, .one_in_a, .one_in_b,
      .two_in, .two_in_a, .two_in_b,
      .three_in, .three_in_a, .three_in_b,
      .four_in, .four_in_a, .four_in_b,
      .five_in, .five_in_a, .five_in_b, .one_in_c, .two_in_c,
      .three_in_c, .four_in_c,
      .five_in_c {
        width: 0;
        height: 100%;
        background-color: black;
        position: absolute;
        left: 0;
        transition: 3s linear;
      }






      /* <!-- two_page – тетрис --> */
        .thought {
          width: 1440px;
          height: 900px;
          margin: 0 auto;
          overflow: hidden;
          position: relative;

        }

        .box_one {
          width: 221px;
          height: 40px;
          background-color: transparent;
          animation-iteration-count: infinite;
          animation: box_one_move 15s linear infinite;
          position: absolute;
          left: 50px;
          transform: rotate(40deg);
          text-align: center;
          background-image: url("images/uvekovech.svg");
          background-size: 100% auto;
        }
       .box_one:hover {
          border: 1px solid black;
        }

        .box_two {
          width: 221px;
          height: 40px;
          background-color: black;
          animation-iteration-count: infinite;
          animation: box_two_move 10s linear infinite;
          position: absolute;
          left: 90px;
          transform: rotate(20deg);
        }

        .box_three {
          width: 221px;
          height: 40px;
          background-color: black;
          animation-iteration-count: infinite;
          position: absolute;
          animation: box_three_move 10s linear infinite;
          left: 500px;
          transform: rotate(-40deg);

        }

        .box_four {
          width: 221px;
          height: 40px;
          background-color: black;
          animation-iteration-count: infinite;
          animation: box_four_move 10s linear infinite;
          position: absolute;
          left: 900px;
        }

        .box_five {
          width: 221px;
          height: 40px;
          background-color: black;
          animation-iteration-count: infinite;
          animation: box_five_move 10s linear infinite;
          position: absolute;
          left: 1100px;
        }


        @keyframes box_one_move {
         from {
           top: -10%;
         }
         to {
           top: 100%;
         }
       }

       @keyframes box_two_move {
        from {
          top: -40%;
        }
        to {
          top: 100%;
        }
      }

      @keyframes box_three_move {
       from {
         top: -60%;
       }
       to {
         top: 100%;
       }
     }

     @keyframes box_four_move {
      from {
        margin-top: -30%;
      }
      to {
        margin-top: 100%;
      }
    }

      @keyframes box_five_move {
       from {
         margin-top: -90%;
       }
       to {
         margin-top: 100%;
       }
     }

     .box_one_stop {
       animation-play-state: paused;
       background: black;
     }






      /* <!-- three_page – пятнашки --> */
      .page_null {
        width: 1440px;
        height: 60px;
        display: flex;
        justify-content: space-between;
      }

      .page_one {
        /* max-width: 1440px; */
        width: 100%;
        /* padding-bottom: 27%; */
        /* height: 390px; */
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        position: relative;
      }

      .page_two {
        /* max-width: 1440px; */
        width: 100%;
        /* height: 390px; */
        /* padding-bottom: 27%; */

        display: flex;
        justify-content: space-between;
        margin: 0 auto 60px;
      }

      .quarter_one:hover {
         border: 1px solid black;
       }

       .quarter_two:hover {
          border: 1px solid black;
        }

        .quarter_three:hover {
           border: 1px solid black;
         }

         .quarter_four:hover {
            border: 1px solid black;
          }

          .quarter_five:hover {
             border: 1px solid black;
           }

           .quarter_six:hover {
              border: 1px solid black;
            }


      .quarter_one {
        width: 33.33%;
        padding-bottom: 27%;
        /* height: 390px; */
        display: inline-block;
        position: relative;
        transform: rotate(180deg);
        background-image: url("images/puzzle_one.svg");
        background-size: 100% auto;
      }

      .quarter_two {
        width: 33.33%;
        padding-bottom: 27%;
        /* height: 390px; */
        display: inline-block;
        position: relative;
        transform: rotate(180deg);
        background-image: url("images/puzzle_two.svg");
        background-size: 100% auto;
      }

      .quarter_three {
        width: 33.33%;
        padding-bottom: 27%;
        /* height: 390px; */
        display: inline-block;
        position: relative;
        transform: rotate(180deg);
        background-image: url("images/puzzle_three.svg");
        background-size: 100% auto;
      }

      .quarter_four {
        width: 33.33%;
        padding-bottom: 27%;
        /* height: 390px; */
        display: inline-block;
        position: relative;
        transform: rotate(180deg);
        background-image: url("images/puzzle_four.svg");
        background-size: 100% auto;
      }

      .quarter_five {
        width: 33.33%;
        padding-bottom: 27%;
        /* height: 390px; */
        display: inline-block;
        position: relative;
        transform: rotate(180deg);
        background-image: url("images/puzzle_five.svg");
        background-size: 100% auto;
      }

      .quarter_six {
        width: 33.33%;
        padding-bottom: 27%;
        /* height: 390px; */
        display: inline-block;
        position: relative;
        transform: rotate(180deg);
        background-image: url("images/puzzle_six.svg");
        background-size: 100% auto;
      }

      .revers {
        transform: rotate(0deg);
      }








      /* <!-- four_page – сапер --> */
      .page_four {
        width: 100%;
        height: 810px;
      }

      .text{
        width: 1440px;
        height: 60px;
        display: flex;

      }
      .fight{
        width: 100%;
        height: 720px;
        display: flex;
      }

      .cl1 {
        width: 9%;
        height: 720px;
      }


       .r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10, .r11, .r12, .r13, .r14, .r15, .r16, .r17, .r18, .r19, .r20, .r21, .r22, .r23, .r24, .r25,
       .r26, .r27, .r28, .r29, .r30, .r31, .r32, .r33, .r34, .r35, .r36, .r37, .r38, .r39, .r40, .r41, .r42, .r43, .r44, .r45, .r46, .r47, .r48
     {
        width: calc(100% - 30px);
        height: 180px;
        /* background: yellow; */
        margin: auto;
        /* border-bottom: 0.5px solid black; */

      }

      .r1, .r5, .r9, .r13, .r17, .r21, .r25, .r29, .r33, .r37, .r41, .r45
      {
        border-top: 1px solid black;
      }
      .r1:hover {
        /* border-left: 1px solid black;
        border-right: 1px solid black; */

        border: 1px solid black;

      }
      .r1:hover + .r1 {border-top: 0px solid black;}
      .r1:last-child {border-bottom: 1px solid black;}


      .black {
        background-color: black;
      }


      .end {
        width: 1440px;
        height: 30px;
        /* background-color: red; */
        display: flex;
      }


      .last_page {
        position: relative;
        width: 1440px;
        height: 900px;
      }

      .banner {
        position: relative;
        width: 268px;
        height: 60px;
        background-image: url("images/start_again.svg");
        left: 586px;
        top: 420px;
        /* margin-left: 586px;
        margin-top: 320px; */
      }



      .podval {
        display: flex;
        width: 100%;
        height: 60px;
        /* background-color: green; */
        position: absolute;
        top: 830px;
      }

      .podval1 {
        display: flex;
        width: 91px;
        height: 38px;
        padding-left: 40px
        /* background-color: green; */
      }

      .podval2 {
        width: 68px;
        height: 27px;
        /* background-color: green; */
        position: relative;
        padding-left: 1240px;
        padding-top: 8px;

      }

     .plesk {
       position: relative;
       width: 128px;
       height: 55px;
       /* background: no-repeat url("stylesheets/images/logo_plesk.svg"); */
       /* left: 100px;
       top: 100px; */
      }

      .hse {
        position: relative;
        width: 128px;
        height: 55px;
        padding: 22px 0px 0px 30px;}

        .blacked {
          background-color: black;
        }


























      section {
        position: relative;
      }
